.store {
  background-color: #eee;
}

.cta {
  background-color: #333;
  color: #fefefe;
  padding: 150px 0px 150px;
  font-size: 18px;
  line-height: 1.75;
  font-weight: normal;
}

.centered {
  text-align: center;
}

.cta h1 {
  font-size: 4em;
}

.dim {
  background: rgba(0,0,0,.45);
  position: relative;
}

/*Shop Styles*/

.item {
  padding: 20px;
  text-align: center;
  background-color: white;
  /*margin: 5px;*/
}

.item-header {
  padding-bottom: 5px;
}

.item-place {
  font-weight: bold;
}

.item-description {
  /*font-style: italic;*/
  /*font-weight: lighter;*/
  /*font-size: 1.05em;*/
  color: #444;
  padding-bottom: 10px;
}

.item-picture img {
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 20px;

}

/*.item-picture img:hover {
  margin: 0 auto;
  -webkit-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}*/

.item-prices {
  /*background-color: #eeeeee;*/
  padding: 10px;

}

.single {
  background-color: #a1d76f;
  color: white;
  margin-bottom: 8px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.single:hover {
  margin: 0 auto;
  -webkit-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.5);
  margin-bottom: 8px;
  color: white;
}

.double {
  background-color: #d15555;
  color: white;
  margin-bottom: 8px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.double:hover {
  margin: 0 auto;
  -webkit-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.5);
  color: white;
  margin-bottom: 8px;
}

.store-section-divider {
    width: 75%;
    margin-top: 25px;
    padding-bottom: 55px;
}

/*.container.store {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container.store {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container.store {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container.store {
    width: 1170px;
  }
}*/


.shadow {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.item a {
  color: #333;
}

.intro-header {
  font-size: 1.3em;
  letter-spacing: 2px;
}
