.cta {
  background-color: #333;
  color: #fefefe;
  padding: 150px 0px 150px;
  font-size: 18px;
  line-height: 1.75;
  font-weight: normal;
}

.centered {
  text-align: center;
}

.ctah1 {
  font-size: 4em;
}

.dim {
  background: rgba(0,0,0,.45);
  position: relative;
}

/*Shop Styles*/

.item {
  padding: 10px;
  text-align: center;
}

.item-header {
  padding-bottom: 25px;
}

.item-place {
  font-weight: bold;
}

.item-description {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.25em;
  color: #444;
}

.item-picture {
  max-height: 333px;
}

.item-picture img {
  max-height: 250px;
  margin: 0 auto;
}

.store-section-divider {
    width: 75%;
    margin-top: 25px;
    padding-bottom: 55px;
}
